<!-- three panels -->
<div class="container">
    <ng-container *ngIf="connectedUser.programme.idProgramme!=1; else notShow">
        <div class="panel" [routerLink]="['/list-programs']">
            <img src="assets/rogueplate.jpg" alt="Avatar" class="image">
            <div class="middle">
                <div class="text">PROGRAMMES</div>
            </div>
        </div>
    </ng-container>
    <ng-template #notShow>
        <div class="panel" [routerLink]="['/select-programs']">
            <img src="assets/rogueplate.jpg" alt="Avatar" class="image">
            <div class="middle">
                <div class="text">PROGRAMMES</div>
            </div>
        </div>
    </ng-template>

    <div class="panel" [routerLink]="['/outils']">
        <img src="assets/latpull.jpg" alt="Avatar" class="image">
        <div class="middle">
            <div class="text" >OUTILS</div>
        </div>
    </div>
    <div class="panel">
        <img src="assets/trainingnotebook.jpg" alt="Avatar" class="image">
        <div class="middle">
            <div class="text">SUIVI PERSONNEL</div>
        </div>
    </div>
    <!-- End three panels -->
</div>

<!--<app-home></app-home>-->
<!--<router-outlet></router-outlet>-->