/* Style three sections */
.container {
    width: 100%;
    height: 70%;
    display: flex;
}

.panel {
    width: 33%;
    height: 100%;
    float: left;
    border-collapse: collapse;
    margin: 1px;
}

.text {
    color: black;
    font-size: 33px;
    font-family: "Copperplate Gothic Bold", fantasy;
    padding: 16px 32px;
}

.image{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(0%,-350%);
}

.panel:hover .image {
    opacity: 0.3;
    transform: scale(1.05);
}

.panel:hover .middle {
    opacity: 1;
}

/*End style three sections */


/*Style graph evolution */
.graphEvo{
    height: 100%;
    width: 100%;
    object-fit: contain;
    margin-top: 24px;
}
/*End style of graph evolution */


