<!-- Section: Design Block -->
<section class="text-center">
    <!-- Background image -->
    <div class="p-5 bg-image" ></div>

    <div class="card mx-4 mx-md-5 shadow-5-strong" style="
        margin-top: -100px;
        background: hsla(0, 0%, 100%, 0.8);
        backdrop-filter: blur(30px);
        ">
        <div class="card-body py-5 px-md-5">

            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <h1 class="fw-bold mb-5">Les outils mis à votre disposition</h1>
                    <p>Au sein de ce site plusieurs outils sont mis à votre disposition
                    pour vous aider à mieux approcher vos entraînements.
                    Ces outils propres à l'univers du powerlifting permettent de prendre du recul
                    face à vos perfs et mieux preparer ses séances en ayant déjà des données
                    avant de rentrer en salle : les charges d'échauffement, les top set de prévues,
                        les possibles RPE ...
                    <br>
                    Vous trouverez ci-dessous les principales informations et astuces d'utilisation
                    pour les différents outils</p>
                    <h2 [routerLink]="['/dots']" style="color: #0d6efd; text-decoration: underline">Le calcul du total et du score DOTS </h2>
                    <p>Au sein de ce site plusieurs outils sont mis à votre disposition
                        pour vous aider à mieux approcher vos entraînements.
                        Ces outils propres à l'univers du powerlifting permettent de prendre du recul
                        face à vos perfs et mieux preparer ses séances en ayant déjà des données
                        avant de rentrer en salle : les charges d'échauffement, les top set de prévues,
                        les possibles RPE ...
                    </p>
                    <br>
                    <h2 [routerLink]="['/max']" style="color: #0d6efd; text-decoration: underline">Le calcul de la charge maximale estimée </h2>
                    <p>Au sein de ce site plusieurs outils sont mis à votre disposition
                        pour vous aider à mieux approcher vos entraînements.
                        Ces outils propres à l'univers du powerlifting permettent de prendre du recul
                        face à vos perfs et mieux preparer ses séances en ayant déjà des données
                        avant de rentrer en salle : les charges d'échauffement, les top set de prévues,
                        les possibles RPE ...</p>
                    <h2 [routerLink]="['/rpe']" style="color: #0d6efd; text-decoration: underline">Les RPE </h2>
                    <p>Au sein de ce site plusieurs outils sont mis à votre disposition
                        pour vous aider à mieux approcher vos entraînements.
                        Ces outils propres à l'univers du powerlifting permettent de prendre du recul
                        face à vos perfs et mieux preparer ses séances en ayant déjà des données
                        avant de rentrer en salle : les charges d'échauffement, les top set de prévues,
                        les possibles RPE ...</p>
                    <h2 [routerLink]="['/warmup']" style="color: #0d6efd; text-decoration: underline">Les jumps avant un top set </h2>
                    <p>Au sein de ce site plusieurs outils sont mis à votre disposition
                        pour vous aider à mieux approcher vos entraînements.
                        Ces outils propres à l'univers du powerlifting permettent de prendre du recul
                        face à vos perfs et mieux preparer ses séances en ayant déjà des données
                        avant de rentrer en salle : les charges d'échauffement, les top set de prévues,
                        les possibles RPE ...</p>
                </div>
            </div>
        </div>
    </div>
</section>
