<!--<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['/']">User List</a>
  <a class="navbar-brand" [routerLink]="['/add-user']">Add User</a>
  <a class="navbar-brand" [routerLink]="['/home']">Home</a>
  <a class="navbar-brand" [routerLink]="['/login']">Login</a>
</nav>-->

  <!--Top Navigation bar-->
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="topNavBarUpper">
      <button class="btnNavBar" [routerLink]="['/home']">HOME</button>
      <button class="btnNavBar" [routerLink]="['/dots']">Calcul total et DOTS</button>
      <button class="btnNavBar" [routerLink]="['/max']">Calcul E1RM</button>
      <button class="btnNavBar" [routerLink]="['/rpe']">Calcul RPE</button>
      <button class="btnNavBar" [routerLink]="['/warmup']">Recommandations échauffement</button>
      <button class="btnNavBar" [routerLink]="['/login']" >Login</button>
      <button class="btnNavBar" [routerLink]="['/list-users']" >Liste utilisateurs</button>
      <button class="btnNavBar" [routerLink]="['/list-programs']" >Liste programmes</button>
    </div>
  </div>
  <nav class="navbar topNavBarBottom">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>
  <!--End top Navigation bar -->
    <router-outlet></router-outlet>
    <div class="push"></div>

  <!-- Footer -->
  <footer class="bg-dark text-center text-white">
    <div class="text-center p-3">
      © 2022 Copyright:
      <p>OPAT.com</p>
    </div>
  </footer>





