

  <!--Top Navigation bar-->
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="topNavBarUpper">
      <button a *ngIf="!loggedIn()" class="btnNavBar" [routerLink]="['/home']">HOME</button>
      <button a *ngIf="!loggedIn()" class="btnNavBar" [routerLink]="['/dots']">Calcul total et DOTS</button>
      <button a *ngIf="!loggedIn()" class="btnNavBar" [routerLink]="['/max']">Calcul E1RM</button>
      <button a *ngIf="!loggedIn()" class="btnNavBar" [routerLink]="['/rpe']">Calcul RPE</button>
      <button a *ngIf="!loggedIn()" class="btnNavBar" [routerLink]="['/warmup']">Recommandations échauffement</button>
      <button a *ngIf="!isAdmin()" class="btnNavBar" [routerLink]="['/list-users']" >Liste utilisateurs</button>
      <button a *ngIf="!loggedIn()" (click)="logout()" class="btnNavBar" [routerLink]="['/login']" >Logout</button>
    </div>
  </div>
  <nav class="navbar topNavBarBottom">
    <div class="container-fluid">
      <button *ngIf="!loggedIn()" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>
  <!--End top Navigation bar -->
    <router-outlet></router-outlet>
    <div class="push"></div>


  <!-- Footer -->
  <footer class="bg-dark text-center text-white">
    <div class="text-center p-3">
      © 2022 Copyright:
      <p>OPAT.com</p>
    </div>
  </footer>





