<!-- Section: Design Block -->
<section class="text-center">
    <!-- Background image -->
    <div class="p-5 bg-image" ></div>
    <!-- Background image -->

    <div class="card mx-4 mx-md-5 shadow-5-strong" style="
        margin-top: -100px;
        background: hsla(0, 0%, 100%, 0.8);
        backdrop-filter: blur(30px);
        ">
        <div class="card-body py-5 px-md-5">

            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <h2 class="fw-bold mb-5">Calcul de la charge maximale estimée</h2>
                    <form (ngSubmit)="onSubmit(f)" #f="ngForm">

                        <!-- Weight input -->
                        <div class="form-outline mb-4">
                            <input type="number" name="weightRm" id="weightRm" class="form-control" ngModel />
                            <label class="form-label" for="weightRm">Charge en kg</label>
                        </div>
                        <!-- Reps input -->
                        <div class="form-outline mb-4">
                            <input type="number" max="12" min="1" name="repsRm" id="repsRm" class="form-control" ngModel />
                            <label class="form-label" for="repsRm">Nombre de reps : entre 1 et 12</label>
                        </div>
                        <!-- Rpe input -->
                        <div class="form-outline mb-4">
                            <select class="form-select" name="estimatedRpe" id="estimatedRpe" ngModel>
                                <option selected value="0">6</option>
                                <option value="1">6.5</option>
                                <option value="2">7</option>
                                <option value="3">7.5</option>
                                <option value="4">8</option>
                                <option value="5">8.5</option>
                                <option value="6">9</option>
                                <option value="7">9.5</option>
                                <option value="8">10</option>
                            </select>
                            <label class="form-label" for="estimatedRpe">Choose the RPE of your set</label>
                        </div>
                        <!-- Submit button -->
                        <button type="submit" class="btn btn-primary btn-block mb-4">
                            Calcul ton E1RM
                        </button>
                        <br>
                        <button class="btn btn-primary btn-block mb-4 btn-result" id="resultE1RM" style="display: none;">{{ERM}}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section: Design Block -->

